name: Build

on:
  pull_request:
    branches:
      - main
      - develop
  push:
    branches:
      - main
      - develop

jobs:
  test:
    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set Node version
        uses: actions/setup-node@v1
        with:
          node-version: 16
      - uses: pnpm/action-setup@v4
        with:
          version: 8.15.5
      - name: Install Protoc
        uses: arduino/setup-protoc@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Install dependencies
        run: pnpm install --strict-peer-dependencies=false
      - name: Run lint
        run: pnpm lint
      - name: Run format
        run: pnpm format
      - name: Run build
        run: pnpm build
      - name: Run typecheck
        run: pnpm typecheck
      - name: Run test
        run: pnpm test:ci
